#App {
  text-align: center;
  display: flex;
  justify-content: center;
}

#drum-machine {
  margin-top: 10%;
  background-color: #545558;
  border: 2px solid rgb(47, 248, 40);
  border-radius: 10px;
  min-height: 200px;
  width: 60%;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

#drum-pad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-evenly;
  width: 100%;
}

button {
  height: 35px;
  width: 60px;
  background-color: rgb(15, 15, 15);
  color: rgb(65, 231, 65);
  font-size: 15px;
  justify-content: space-evenly;
}

#display {
  height: 30px;
  width: 50px;
  font-size: 20px;
  margin-left: 43%;
}